/* Normal */
@font-face {
  font-family: 'Casper';
  src: url(../fonts/Casper/Casper-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Normal italic */
@font-face {
  font-family: 'Casper';
  src: url(../fonts/Casper/Casper-RegularItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Casper';
  src: url(../fonts/Casper/Casper-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Bold italic */
@font-face {
  font-family: 'Casper';
  src: url(../fonts/Casper/Casper-BoldItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
